<form action="/">
			  
			  	<div class="row">
			  		<div class="col-6">
			  			<div class="form-group">
			  				<label for="name">Your Name*</label>
			   				<input type="text" class="form-control" id="name">
			   			</div>
			  		</div>
			  		<div class="col-6">
			  			<div class="form-group">
			  				<label for="email">Your Email*</label>
			   				<input type="email" class="form-control" id="email">
			   			</div>
			  		</div>
			  	</div>
			     
			       <br>
			  <div class="form-group">
			    <label for="pwd">Your Subject*</label>
			    <input type="password" class="form-control" id="pwd">
			  </div>
			    <br>
			  <div class="form-group">
				  <label for="comment">Your Comment*</label>
				  <textarea class="form-control" rows="3"  id="comment"></textarea>
			</div>
			 
			   <br>
			  <button type="Submit" class="btn btn-primary btn-block bt1">Send</button>
			</form>